.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 100%;
}
.btn {
  text-transform: uppercase;
  text-decoration: none;
  background: hsl(22, 31%, 52%);
  color: hsl(22, 31%, 88%);
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.1rem;
  border-color: transparent;
  margin-left: 20px;
}
.btn:hover {
  color: hsl(22, 28%, 21%);
  background: hsl(211, 27%, 70%);
}
.pics {
  max-width: 45%;
  padding: 2.5%;
  max-height: 85vh;
  /* max-height: 50%; 
  ???????????????????????*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pics img {
  height: 75%;
  padding: 5px;
  border-radius: 13px;
}
.smallPics {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.smallPics img {
  max-width: 15%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  cursor: pointer;
}

.content {
    width: 45%;
    padding: 2.5%;
    max-height: 90%;
}
.info {
    text-transform: capitalize;
    display: grid;
    grid-template-columns: 125px 1fr;
  }
 span {
    font-weight: 700;
    color: black;
   
  }
  .desc {
    line-height: 2;
    max-width: 45em;
    margin-bottom: 2rem;

  }
  h2 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  .price {
    font-size: 1.25rem;
    color: black;
    margin-bottom: 1.5rem;
  }
  .info {
    display: grid;
    grid-template-columns: 125px 1fr;
    align-items: center;
    margin-bottom: 1rem;
  }