.wrapper {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.808);
}
.wrapper span {
  color: #928e89;
  font-style: oblique;
  font-size: 30px;
}
.wrapper h5 {
  color: white;
  margin: 0.1rem;
  font-weight: 600;
  text-transform: none;
  line-height: 1.25;
}
