.wrapper {
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238,238,228);
  border-style: ridge none;
}
.wrapper span {
  color: #55514c;
  font-style: italic;
  font-size: 25px;
  height: 3rem;
}
.wrapper h5 {
  color: black;
  font-size: 20px;
  margin: 0.1rem;
  height: 3rem;
  transform: translateY(0.5rem);
}
