.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: aqua;
  width: 100%;
  height: 4.5rem;
}

.navBar img {
  width: 175px;
  margin-left: -15px;
}
.cart {
  font-size: 2rem;
  position: relative;
  cursor: pointer;
}
.quantity {
  font-size: 17px;
  font-weight: 800;
  position: absolute;
  top: 0;
  right: -5px;
  width: 17px;
  background-color: brown;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.navToggle {
  background: transparent;
  border: transparent;
  color: hsl(22, 31%, 52%);
  cursor: pointer;
}
.navToggle svg {
  font-size: 2rem;
}

/* .navLinks {
  display: none;
}
.cartBtnWrapper {
  display: none;
}
@media (min-width: 992px) {
  .navToggle {
    display: none;
  }
  .navCenter {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .navLinks {
    display: flex;
    justify-content: center;
  }
  .navLinks li {
    margin: 0 0.5rem;
  }
  .navLinks a {
    color: hsl(209, 34%, 30%);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    padding: 0.5rem;
  }
  .navLinks a:hover {
    border-bottom: 2px solid hsl(22, 31%, 67%);
  }
  .cartBtnWrapper {
    display: grid;
  }
} */
